.reservations-list {
  text-align: center;
  padding-right: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.reservation {
  list-style: none;
  padding: 1em;
  border: 1px solid #102520;
  margin: 1em;
  border-radius: 5px;
  background-color: #96795d;
}

.reservation hr {
  border: 1px solid #96795d;
}

.seat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #102520;
  border-radius: 5px;
  background-color: #3d210f;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.seat-button:hover,
.seat-button:focus {
  border: 1px solid #dd913d;
  color: #dd913d;
  transition: 0.5s;
  text-decoration: none;
}

.seat-button:active {
  text-decoration: none;
  color: #23b492;
  border: 1px solid #23b492;
}

.seat-button:visited {
  text-decoration: none;
  color: #23b492;
}

.reservation:focus,
.reservation:hover {
  border: 1px solid #dd913d;
  color: #dd913d;
  transition: 0.5s;
}

@media all and (min-width: 992px) {
  .reservation {
    padding: 2em;
    margin: 2em;
    border: 1px solid #102520;
    border-radius: 5px;
    min-width: 100%;
    font-size: large;
  }

  .seat-button {
    display: inline;
    padding: 10px 50px;
  }
}
